<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"
        integrity="sha256-NZlQFkif+Cpc0rqEGGpSmaU55Vw4aMWK5KC3BRACd/Q=" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Age Stats</span>
    </nav>
    <div class="progress m-3">
        <div class="progress-bar" role="progressbar" style="width: {{ age_stats.juvenile }}%"
            aria-valuenow="{{ age_stats.juvenile }}" aria-valuemin="0" aria-valuemax="100">Juvenile
            {{ age_stats.juvenile }}%</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ age_stats.adult }}%"
            aria-valuenow="{{ age_stats.adult }}" aria-valuemin="0" aria-valuemax="100">Adult {{ age_stats.adult }}%
        </div>
    </div>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Action Stats</span>
    </nav>

    <div class="progress m-3">
        <div class="progress-bar" role="progressbar" style="width: {{ age_stats.juvenile }}%"
            aria-valuenow="{{ run_stats }}" aria-valuemin="0" aria-valuemax="100">Running
            {{ run_stats }}%</div>
    </div>

    <div class="progress m-3">
        <div class="progress-bar" role="progressbar" style="width: {{ chase_stats }}%" aria-valuenow="{{ chase_stats }}"
            aria-valuemin="0" aria-valuemax="100">Chasing
            {{ chase_stats }}%</div>
    </div>

    <div class="progress m-3">
        <div class="progress-bar" role="progressbar" style="width: {{ eat_stats }}%" aria-valuenow="{{ eat_stats }}"
            aria-valuemin="0" aria-valuemax="100">Eating
            {{ eat_stats }}%</div>
    </div>

    <div class="progress m-3">
        <div class="progress-bar" role="progressbar" style="width: {{ climb_stats }}%" aria-valuenow="{{ climb_stats }}"
            aria-valuemin="0" aria-valuemax="100">Climbing
            {{ climb_stats }}%</div>
    </div>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Above Ground Sighter Measurement Stats</span>
    </nav>
    <div id="main"></div>

    <script>
        var chartDom = document.getElementById('main');
        var myChartContainer = function () {
            chartDom.style.width = window.innerWidth + 'px';
            chartDom.style.height = window.innerWidth * 0.2 + 'px';
        };
        myChartContainer();
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            xAxis: {
                type: 'value'
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: JSON.parse("{{ above_ground_stats }}"),
                type: 'line',
                smooth: true
            }]
        };

        myChart.setOption(option);
    </script>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Hectare Stats</span>
    </nav>
    <table data-toggle="table" data-pagination="true">
        <thead>
            <tr>
                <th data-align="center">Hactare</th>
                <th data-align="center" data-sortable="true">Total Squirrels Observed</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in hectare_stats %}
            <tr>
                <td>{{ stat.hectare }}</td>
                <td>{{ stat.count__count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>